{{#each this}}
<div class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="gallery__image"/>
  <div class="info">
    <p class="info-item">
      <b>Likes: <span class="info-item__value">{{likes}}</span></b>
    </p>
    <p class="info-item">
      <b>Views: <span class="info-item__value">{{views}}</span></b>
    </p>
    <p class="info-item">
      <b>Comments: <span class="info-item__value">{{comments}}</span></b>
    </p>
    <p class="info-item">
      <b>Downloads: <span class="info-item__value">{{downloads}}</span></b>
    </p>
  </div>
</div>
{{/each}}





{{!-- {{#each this}}
<div class="card-img-top">
    <img src="{{flags.svg}}" alt="{{name.official}}"
    width="100px" height="70px"/>
</div>
<h1 class="title-card">{{name.official}}</h1>
<p class="text-card">Capital: <span class="text-card-name">{{capital}}</span></p>
<p class="text-card">Population: <span class="text-card-name">{{population}}</span></p>
<p class="text-card">Languages: 
    {{#each languages}}
     <span class="text-card-name"> {{this}} </span>
    {{/each}}
</p>
{{/each}} --}}